@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>SEEAROUND 360 💜 Azure</h1>
    <p class="lead">Get Digital Solutions with SeeAround360</p>
</div>
